*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This define what 1rem is
    font-size: 62.5%;  /* 100% divide 16px */
}

body {
    box-sizing: border-box;
}